* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width : 425px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .container{
    width: 100%;
    margin: 0 auto;
    
    
  }

    nav{
      display: flex;
      flex-direction: column;
      margin: 0  auto;
      font-size: .5rem;
    }

    ul {
      width: 100%;
      display: flex;
     /* justify-content: end;
      align-content: center;
      gap: 0px;*/
      
    }

    .offers-container{
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    .left-content{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 100%;
      margin: 30px  auto;
      text-align: center;
    }

    .right-img{
      overflow: hidden;
    }
                                                                                       
.txt-center{
  font-size: 1rem;
  
}

  main{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .cards{
    display: block;
    width: 100%;

  }


  .card{
    width: 100%;
  }

  .card img{
    max-width: 100%;
    height: auto;
  }

  .sp-card{
    max-width: 100%;
    height: auto;
  }

    

  
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 425px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: wrap-reverse;
  }

  .offers-container {
    display: block;
  }

  .left-content {
    font-size: 16px;
    text-align: center;
  }

  .right-img {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .right-img::after {
    overflow: hidden !important;
    width: 200px;
    height: 200px;
    text-align: center;
    bottom: 0;
    left: 0;
    top: 50px;
    position: absolute;
  }

  .cards {
    width: 100%;
    display: block;
  }

  .card {
    height: auto;
    width: fit-content;
  }

  .sp-card {
    max-width: 100%;
    height: auto;
  }

  .cards img {
    width: 100%;
  }
}

 */



